<div class = "row">
  <div class="col offset-s1"><h1>
<%=image_tag @tendencia.imagen.url, class: "responsive-img", style:"height: 150px; width: 150px" if @tendencia.imagen?%>

&nbsp<%=@tendencia.nombre%> &nbsp&nbsp(<%=@tendencia.abreviacion%>)</h1>
</div>
</div>

<div class="container">

<%  @elemento = Elemento.new %>

<div class="row">
  <div class="col s12 m12 l9">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">Haz click y agrega un elemento a la tendencia</div>
      <div class="collapsible-body">
        <%= form_for @elemento, url: elemento_path do |f| %>

        <div class="row">
          <div class="col s12">
            <h3>Nombre: </h3>
          </div>

            <div class="col s7">
              <%= f.text_field :nombre, style: 'height: 50px; font-size:30px;', class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3>Link para más información: </h3>
              </div>

                <div class="col s7">
              <%= f.text_field :link, style: 'height: 50px; font-size:30px;', class: 'form-control' %>

            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <h3>Descripción del producto: </h3>
            </div>

              <div class="col s7">
                <%= f.text_area :descripcion, size: "10x12"%>

              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <h3>Foto del producto: </h3>
              </div>

                <div class="col s7">
              <%= f.file_field :foto, class: 'form-control' %>

              <%= f.hidden_field :tendencia_id, value: @tendencia.id%>

            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <%= f.submit "agregar elemento", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </li>
  </ul>
</div>
</div>

        <script>
              document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.collapsible');
          var instances = M.Collapsible.init(elems, {});
        });
        </script>

<br>





<%@elementos.each do |elemento|%>
  <%= form_for elemento, url: elemento_path+"/"+elemento.id.to_s() do |f| %>

  <div class="row">
    <div class="col s12">
      <h3>Nombre: </h3>
    </div>

      <div class="col s7">
        <%= f.text_field :nombre, class: 'form-control', style: 'height: 50px; font-size:30px;' %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <h3>Link para más información: </h3>
        </div>

          <div class="col s7">
        <%= f.text_field :link, class: 'form-control' , style: 'height: 50px; font-size:30px;'%>

      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h3>Descripción del producto: </h3>
      </div>

        <div class="col s7">
          <%= f.text_area :descripcion, size: "10x12"%>

        </div>
      </div>
      <div class="row">
      <div class="col s12 m6 l6">

        <%=image_tag elemento.foto.url, class: "responsive-img", style:"length: 300px; border-style:solid; border-width:3px; border-color:#e0e0e0;" if elemento.foto?%>
      </div>
      <div class="col s12 m6 l6">
      <%= f.file_field :foto, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">

        <%= f.submit "editar elemento", class: "btn btn-primary" %>
      <% end %>
      &nbsp
      <%= link_to "delete", elemento_path+"/"+elemento.id.to_s(), class: "btn btn-primary", method: :delete,
                                    data: { confirm: "You are about to delete all info from "+elemento.nombre+" are you sure?" } %>

      </div>
      </div>
<%end%>
</div>
